<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Bejegyzések</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}" href="../static/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css" type="text/css">
    <script type="application/javascript" th:src="@{/script/jquery/jquery-3.5.1.min.js}" src="../static/script/jquery/jquery-3.5.1.min.js"></script>
    <script type="application/javascript" th:src="@{/bootstrap/bootstrap.min.js}" src="../static/bootstrap/bootstrap.min.js"></script>
</head>